In [114]:
import pandas as pd

# 데이터 불러오기

In [191]:
virtual_df = pd.read_excel('가상계좌_결제내역_2024.03.01-2024.03.31.xlsx')
credit_df = pd.read_excel('신용·체크카드_결제내역_2024.03.01-2024.03.31.xlsx')

C:\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
C:\anaconda3\Lib\site-packages\openpyxl\styles\stylesheet.py:226: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [192]:
tip = pd.read_csv('settlement_order_list_20240330_T.csv')
fie = pd.read_csv('settlement_order_list_20240330_F.csv')
rung = pd.read_csv('settlement_order_list_20240330_R.csv')
hung = pd.read_csv('settlement_order_list_20240330_H.csv')

# 컬럼 정리 및 데이터 전처리

In [193]:
# 필요한 컬럼만 남기기
virtual_df = virtual_df[['결제·취소일시','취소완료일시','주문번호', '결제상태', '입금·취소액']]
credit_df = credit_df[['결제일시', '취소일시', '주문번호', '결제상태', '결제액','취소액']]

# 결제방법 구분하기 + 결제상태 컬럼 만들기
virtual_df['결제방법'] = '가상계좌'
credit_df['결제방법'] = '신용카드'

# 결제방법 컬럼을 앞으로 이동
virtual_df = virtual_df[['결제방법', '결제·취소일시','주문번호', '결제상태', '입금·취소액']]
credit_df = credit_df[['결제방법', '결제일시', '주문번호', '결제상태', '결제액','취소액']]

# '결제상태'가 '완료', '취소요청', '부분취소'인 행만 남기기
virtual_df = virtual_df[virtual_df['결제상태'].isin(['완료', '취소요청', '부분취소'])]
credit_df = credit_df[credit_df['결제상태'].isin(['완료', '취소', '부분취소'])]

# 취소건 처리

In [194]:
# 가상계좌 결제내역에서 취소하면 음수로 표시됨
# 신용카드 결제내역에서 취소하면 음수로 표시됨

In [195]:
# 취소금액 확인하기
# Filter out the rows where '입금·취소액' and '결제액' have been made negative due to cancellation
virtual_df_negatives = virtual_df[virtual_df['입금·취소액'] < 0]
credit_df_negatives = credit_df[credit_df['취소액'] < 0]

# Displaying a sample of the rows where adjustments have been made
virtual_df_negatives

      결제방법              결제·취소일시                   주문번호  결제상태  입금·취소액
76    가상계좌  2024-03-28 18:17:59   000001453-1711605254  취소요청   -6400
77    가상계좌  2024-03-28 18:08:13  3000000454-1711603484  취소요청  -12000
78    가상계좌  2024-03-28 18:07:26  3000000451-1711596938  취소요청 -180000
128   가상계좌  2024-03-27 18:22:02  3000000425-1711441076  부분취소 -117900
129   가상계좌  2024-03-27 18:20:45   000001333-1711425052  부분취소   -2200
190   가상계좌  2024-03-26 17:20:03  3000000397-1711207726  부분취소  -10000
192   가상계좌  2024-03-26 17:17:03  3000000420-1711430627  부분취소  -25700
193   가상계좌  2024-03-26 17:15:18   000001352-1711429027  부분취소   -4400
194   가상계좌  2024-03-26 17:14:37   000001136-1710932987  부분취소   -4800
195   가상계좌  2024-03-26 17:13:36   000001134-1710921844  부분취소   -4700
196   가상계좌  2024-03-26 17:10:35   000001270-1711321571  부분취소   -5000
198   가상계좌  2024-03-26 17:06:16   000000719-1710167122  부분취소   -2500
247   가상계좌  2024-03-25 16:43:49   000001239-1711244949  부분취소   -5000
248   가상계좌  2024-03-25 16:38:37  3000000399-1711282109  부분취소  -62000
250   가상계좌  2024-03-25 16:28:43   000001249-1711274522  부분취소   -4400
339   가상계좌  2024-03-22 17:25:08   000001053-1710818905  부분취소   -9600
340   가상계좌  2024-03-22 17:24:29   000001210-1711080669  부분취소   -7000
342   가상계좌  2024-03-22 17:23:55   000001201-1711075676  부분취소   -7000
400   가상계좌  2024-03-21 17:41:04   000001142-1710944555  부분취소   -4500
402   가상계좌  2024-03-21 17:11:55   000001067-1710828107  부분취소  -12900
403   가상계좌  2024-03-21 17:11:03   000001143-1710952008  부분취소   -5600
404   가상계좌  2024-03-21 17:10:03  3000000366-1710913410  부분취소   -4800
405   가상계좌  2024-03-21 17:08:42   000001108-1710905708  부분취소   -4100
447   가상계좌  2024-03-20 18:15:57   000000997-1710736666  부분취소  -38000
448   가상계좌  2024-03-20 18:15:08   000000581-1709805558  부분취소   -7500
693   가상계좌  2024-03-15 15:57:25   000000651-1710085845  부분취소   -4000
694   가상계좌  2024-03-15 15:56:29   000000639-1710070565  부분취소   -5900
820   가상계좌  2024-03-13 16:39:07  3000000178-1709863368  부분취소  -66000
821   가상계좌  2024-03-13 16:38:22   000000598-1709863092  부분취소   -5700
822   가상계좌  2024-03-13 16:37:05   000000543-1709778659  부분취소   -8800
823   가상계좌  2024-03-13 16:35:53   000000650-1710085157  부분취소   -2400
900   가상계좌  2024-03-12 15:42:43  3000000236-1710222604  부분취소  -27500
901   가상계좌  2024-03-12 15:39:34   000000708-1710154231  부분취소   -1850
902   가상계좌  2024-03-12 15:38:47   000000694-1710142173  부분취소  -70000
905   가상계좌  2024-03-12 15:33:26   000000595-1709862041  부분취소  -12000
906   가상계좌  2024-03-12 15:32:46   000000603-1709865176  부분취소   -7600
907   가상계좌  2024-03-12 15:32:04   000000589-1709833912  부분취소   -5000
908   가상계좌  2024-03-12 15:30:25  3000000213-1710127704  부분취소  -55200
909   가상계좌  2024-03-12 15:28:37   000000647-1710077196  부분취소  -72600
910   가상계좌  2024-03-12 15:24:17  3000000199-1709990234  부분취소 -700000
989   가상계좌  2024-03-11 17:00:22   000000654-1710116935  부분취소   -4300
1082  가상계좌  2024-03-08 15:48:17   000000389-1709562668  부분취소   -4350
1083  가상계좌  2024-03-08 15:47:43   000000517-1709733636  부분취소   -2750
1084  가상계좌  2024-03-08 15:39:31   000000484-1709699658  부분취소   -2400
1086  가상계좌  2024-03-08 15:30:53   000000305-1709471907  부분취소   -4600
1087  가상계좌  2024-03-08 15:29:06   000000481-1709697610  부분취소   -8800
1088  가상계좌  2024-03-08 15:28:08   000000455-1709623015  부분취소  -12500
1253  가상계좌  2024-03-06 13:01:22   000000290-1709435757  부분취소  -25000
1258  가상계좌  2024-03-06 12:17:43   000000333-1709518072  부분취소   -4000
1259  가상계좌  2024-03-06 12:11:57   000000357-1709527457  부분취소 -301000
1260  가상계좌  2024-03-06 12:05:55  3000000061-1709539360  부분취소  -26900
1262  가상계좌  2024-03-06 12:02:07   000000444-1709620944  부분취소   -1400
1263  가상계좌  2024-03-06 12:01:36   000000365-1709533339  부분취소   -1400
1264  가상계좌  2024-03-06 11:59:22   000000281-1709366051  부분취소   -9300
1266  가상계좌  2024-03-06 11:55:08  3000000056-1709534456  부분취소   -7000
1287  가상계좌  2024-03-05 17:54:04  3000000062-1709539597  부분취소   -3200
1288  가상계좌  2024-03-05 17:53:01   000000349-1709524836  부분취소   -3800

In [196]:
credit_df_negatives

    결제방법                 결제일시                   주문번호  결제상태     결제액   취소액
42  신용카드  2024-03-18 14:02:21  3000000328-1710738141  부분취소  916000 -3600
65  신용카드  2024-03-13 17:38:39  5000000080-1710319119    취소    8600 -8600

In [197]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 57 entries, 0 to 66
Data columns (total 6 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   결제방법    57 non-null     object
 1   결제일시    57 non-null     object
 2   주문번호    57 non-null     object
 3   결제상태    57 non-null     object
 4   결제액     57 non-null     int64
 5   취소액     57 non-null     int64
dtypes: int64(2), object(4)
memory usage: 3.1+ KB

# 두개의 데이터 컬럼 일치 시키기

In [198]:
# 신용카드 취소액 결제액으로 옮기기
# 취소액이 있는 행을 복제합니다.
cancellation_rows = credit_df[credit_df['취소액'] < 0].copy()

# 복제한 행에서 '결제액'을 '취소액'으로 업데이트합니다.
cancellation_rows['결제액'] = cancellation_rows['취소액']

# 원본 DataFrame에 복제한 행을 추가합니다.
credit_df = pd.concat([credit_df, cancellation_rows], ignore_index=True)

# 취소액 컬럼 없애기
credit_df = credit_df[['결제방법', '결제일시', '주문번호', '결제상태', '결제액']]

# 결과 확인을 위해 처음 몇 행을 출력합니다.
credit_df.head(), cancellation_rows.head()

(   결제방법                 결제일시                   주문번호 결제상태     결제액
 0  신용카드  2024-03-30 19:05:36  3000000475-1711793136   완료   67000
 1  신용카드  2024-03-29 16:47:15  3000000474-1711698435   완료  287400
 2  신용카드  2024-03-29 16:16:57  3000000473-1711696617   완료   53400
 3  신용카드  2024-03-29 14:52:09  3000000470-1711691528   완료   81800
 4  신용카드  2024-03-29 14:31:29  3000000468-1711690289   완료   62400,
     결제방법                 결제일시                   주문번호  결제상태   결제액   취소액
 42  신용카드  2024-03-18 14:02:21  3000000328-1710738141  부분취소 -3600 -3600
 65  신용카드  2024-03-13 17:38:39  5000000080-1710319119    취소 -8600 -8600)

In [199]:
# 컬럼 명 일치시키기
credit_df = credit_df.rename(columns={'결제일시': '결제·취소일시', '결제액': '입금·취소액'})

# 데이터 합치기

In [200]:
combined_df = pd.concat([virtual_df, credit_df], ignore_index=True)

In [201]:
virtual_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1238 entries, 1 to 1499
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   결제방법     1238 non-null   object
 1   결제·취소일시  1238 non-null   object
 2   주문번호     1238 non-null   object
 3   결제상태     1238 non-null   object
 4   입금·취소액   1238 non-null   int64
dtypes: int64(1), object(4)
memory usage: 58.0+ KB

In [202]:
credit_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59 entries, 0 to 58
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   결제방법     59 non-null     object
 1   결제·취소일시  59 non-null     object
 2   주문번호     59 non-null     object
 3   결제상태     59 non-null     object
 4   입금·취소액   59 non-null     int64
dtypes: int64(1), object(4)
memory usage: 2.4+ KB

In [203]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   결제방법     1297 non-null   object
 1   결제·취소일시  1297 non-null   object
 2   주문번호     1297 non-null   object
 3   결제상태     1297 non-null   object
 4   입금·취소액   1297 non-null   int64
dtypes: int64(1), object(4)
memory usage: 50.8+ KB

In [204]:
combined_df

      결제방법              결제·취소일시                   주문번호  결제상태  입금·취소액
0     가상계좌  2024-03-30 22:52:33   000001522-1711805831    완료   56350
1     가상계좌  2024-03-30 17:52:10   000001520-1711788638    완료   51700
2     가상계좌  2024-03-30 15:12:40   000001519-1711769075    완료   57850
3     가상계좌  2024-03-30 15:11:28   000001518-1711717582    완료   69300
4     가상계좌  2024-03-30 10:41:08   000001502-1711691186    완료  192400
...    ...                  ...                    ...   ...     ...
1292  신용카드  2024-03-14 09:25:59  3000000265-1710375958    완료    8600
1293  신용카드  2024-03-13 17:38:39  5000000080-1710319119    취소    8600
1294  신용카드  2024-03-13 17:38:39  5000000080-1710319119    완료    8600
1295  신용카드  2024-03-18 14:02:21  3000000328-1710738141  부분취소   -3600
1296  신용카드  2024-03-13 17:38:39  5000000080-1710319119    취소   -8600

[1297 rows x 5 columns]

In [205]:
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1297 entries, 0 to 1296
Data columns (total 5 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   결제방법     1297 non-null   object
 1   결제·취소일시  1297 non-null   object
 2   주문번호     1297 non-null   object
 3   결제상태     1297 non-null   object
 4   입금·취소액   1297 non-null   int64
dtypes: int64(1), object(4)
memory usage: 50.8+ KB

# 주문건에 이름붙이기

In [214]:
def adjust_order_number(order_number):
    # order_number를 문자열로 변환
    order_number_str = str(order_number)
    # "-"를 기준으로 분리하고 첫 번째 부분을 선택
    processed_order_number = order_number_str.split('-')[0]
    # 선택된 부분이 10자리인 경우는 그대로 반환
    if len(processed_order_number) == 10:
        return processed_order_number
    # 9자리 미만인 경우, 9자리가 되도록 앞쪽을 0으로 채움
    elif len(processed_order_number) < 9:
        return processed_order_number.zfill(9)
    # 그 외의 경우 (즉, 9자리인 경우), 그대로 반환
    else:
        return processed_order_number

In [207]:
# combined_df의 '주문번호' 컬럼에 정의한 함수 적용
combined_df['주문번호'] = combined_df['주문번호'].apply(adjust_order_number)

In [215]:
# 각 데이터프레임의 'Order No' 컬럼에 adjust_order_number 함수 적용
for df in [tip, rung, fie, hung]:
    df['Order No'] = df['Order No'].apply(adjust_order_number)

In [216]:
# 각 엑셀 파일에 'operator' 컬럼 추가하고, 파일명에 따라 해당하는 값을 할당하기
fie['operator'] = 'fie'
hung['operator'] = 'hung'
rung['operator'] = 'rung'
tip['operator'] = 'tip'

In [217]:
# '고객 이름' 컬럼이 모든 파일에 있다고 가정하고, 필요한 컬럼만 선택하기
# 여기서 '고객명'이 고객 이름을 나타내는 컬럼이라고 가정합니다. 실제 컬럼 이름에 맞게 조정해 주세요.
fie = fie[['Order No', '고객 이름', 'operator']]
hung = hung[['Order No', '고객 이름', 'operator']]
rung = rung[['Order No', '고객 이름', 'operator']]
tip = tip[['Order No', '고객 이름', 'operator']]

In [218]:
# 모든 엑셀 파일을 하나의 데이터프레임으로 합치기
source_dfs_combined = pd.concat([fie, hung, rung, tip])

In [220]:
# '주문번호' 컬럼을 'Order No'로 이름 변경
combined_df.rename(columns={'주문번호': 'Order No'}, inplace=True)

In [221]:
# 병합 시 'operator' 컬럼과 '고객 이름' 컬럼을 활용해 각 주문이 어느 파일에서 왔는지와 고객 이름을 표시하기
merged_df = pd.merge(combined_df, source_dfs_combined[['Order No', '고객 이름', 'operator']], on='Order No', how='left')

In [222]:
merged_df

,결제방법,결제·취소일시,Order No,결제상태,입금·취소액,고객 이름,operator
0,가상계좌,2024-03-30 22:52:33,000001522,완료,56350,NaN,NaN
1,가상계좌,2024-03-30 17:52:10,000001520,완료,51700,NaN,NaN
2,가상계좌,2024-03-30 15:12:40,000001519,완료,57850,NaN,NaN
3,가상계좌,2024-03-30 15:11:28,000001518,완료,69300,NaN,NaN
4,가상계좌,2024-03-30 10:41:08,000001502,완료,192400,NaN,NaN
...,...,...,...,...,...,...,...
11510,신용카드,2024-03-18 14:02:21,3000000328,부분취소,-3600,호원코퍼레이션 _H,hung
11511,신용카드,2024-03-18 14:02:21,3000000328,부분취소,-3600,호원코퍼레이션 _H,hung
11512,신용카드,2024-03-18 14:02:21,3000000328,부분취소,-3600,호원코퍼레이션 _H,hung
11513,신용카드,2024-03-18 14:02:21,3000000328,부분취소,-3600,호원코퍼레이션 _H,hung
11514,신용카드,2024-03-13 17:38:39,5000000080,취소,-8600,NaN,NaN

In [224]:
merged_df.to_excel('3월 정산.xlsx', index=False)